<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ImperialDatabaseContext" connectionString="Data Source=94.73.170.33;Initial Catalog=u1950568_dbVip; User Id=u1950568_userVip;Password=ZcD5g=StW74:3.n.;Trusted_Connection=False;persist security info=True;" providerName="System.Data.SqlClient" />
	  <!--<add name="ImperialDatabaseContext" connectionString="Server=localhost;Database=ImperialDB;Trusted_Connection=true;persist security info=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>